form textarea {
  height: 8em;
  resize: none;
}

form input[type='radio'] {
  margin: 10px 0;
}

.status-input {
  margin-left: 15px;
}

.status {
  margin-bottom: 15px;
  display: flex;
  padding-left: 0.3em;
}

.status span {
  padding-left: .3em;
  font-size: 1.2em;
}



@media screen and (max-width: 500px) {
  .status {
    display: flex;
    flex-direction: column;

  }

  .status-input {
    margin-left: 0;
  }
}